@using Libraly_test2_.Models
@{
    ViewData["Title"] = "Register";
}

@model RegisterViewModel

<div>
    <div class="container row">
        <div class="col-md-3">
            
            <ul class="list-group">
                <li class="list-group">
                    <p>
                        Пароль должен иметь:
                    </p>
                </li>
                <li class="list-group-item list-group-item-danger">
                    Заглавные буквы!
                </li>
                <li class="list-group-item list-group-item-info">
                    Цифры!
                </li>
                <li class="list-group-item list-group-item-warning">
                    Использовать только латиницу!
                </li>
            </ul>
        </div>
        <form class="col-md-6" method="post" asp-controller="User" asp-action="Register">
            <div class="card-columns card col-xl-12 form-centre">
                <div class="valid-feedback" asp-validation-summary="ModelOnly"> sw</div>
                <div class="editor-label form-group">
                    <label asp-for="UserName" class="float-left">Ник</label>
                    <input asp-for="UserName" class="form-control" placeholder="Nagibator" />
                    <span asp-validation-for="UserName" style="border-color:red; color:red "></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="float-left">Имя</label>
                    <input name="FirstName" asp-for="FirstName" class="form-control" placeholder="Iван" />
                    <span asp-validation-for="FirstName" style="border-color:red; color:red "></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="float-left">Фамилия</label>
                    <input asp-for="FullName" class="form-control" placeholder="Пупкин" />
                    <span asp-validation-for="FullName" style="border-color:red; color:red "></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="float-left">Почта</label>
                    <input asp-for="Email" class="form-control" placeholder="Email@gmail.com" />
                    <span asp-validation-for="Email" style="border-color:red; color:red "> </span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="float-left">Пароль</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" style="border-color:red; color:red "></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="float-left">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="ConfirmPassword" style="border-color:red; color:red "></span>
                </div>
                <button class="btn btn-group-toggle btn-primary" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="col-md-3 " >
            <p class="Right">
              
            </p>
        </div>
    </div>
</div>