@{
    Layout = "_Layout";
}

    <h3>Взаимодействие с профилем</h3>
    <hr/>
    <div class="row  ">
        <div class="list-group col-md-3">
         <partial name="ManageNav"/>
        </div>
        <div class="list-group col-md-9">
            <div class="list-group-item">
                @RenderBody()
            </div>
        </div>
    </div>
