@{
    Layout = "_Layout";
}


<div>
    <h3>Взаимодействие с профилем</h3>
    <hr/>
    <div class="row">
        <div class="col-md-3">
           <partial name="ManagePartial" />
        </div>
        <div class="list-group">
            @RenderBody()
        </div>
    </div>
</div>