
@{
    Layout = "_ALayout";

}

<h3>Смена пароля</h3>
<hr />
<form>
    <div class="row card-columns">

        <div class="editor-label form-group col">

            <label class="float-left">Старый пароль</label>
            <input class="form-control" placeholder="Nagibator" />
            <label class="float-left">Новый пароль</label>
            <input class="form-control" placeholder="Nagibator" />
        </div>

        <div class="editor-label form-group col">

            <label class="float-left">Повторите старый пароль</label>
            <input class="form-control" placeholder="Nagibator" />

        </div>

    </div>

    <div class="form-group">
        <button type="button" class="btn btn-outline-primary">Сменить</button>
    </div>
</form>