@model Libraly.Logic.Models.UserDTO.ChangePasswordViewsModel

@{
    Layout = "_ALayout";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<form method="post" asp-area="Account" asp-controller="AC" asp-action="Index">
    <h3>Смена пароля</h3>
    <hr />

    <div class="row card-columns">

        <div class="editor-label form-group col">

            <label class="float-left">Старый пароль</label>
            <input asp-for="OldPassword" class="form-control"  placeholder="Nagibator" />
            <span asp-validation-for="OldPassword" style="border-color:red; color:red " ></span>

            <label class="float-left">Новый пароль</label>
            <input asp-for="NewPassword" class="form-control" placeholder="Nagibator" />
            <span asp-validation-for="NewPassword" style="border-color:red; color:red "></span>
        </div>

        <div class="editor-label form-group col">

            <label class="float-left">Повторите старый пароль</label>
            <input asp-for="RepeatOldPassword" class="form-control" placeholder="Nagibator1" />
            <span asp-validation-for="RepeatOldPassword" style="border-color:red; color:red " ></span>

        </div>

    </div>


 
        <button type="submit" class="btn btn-primary">Сменить</button>
   
    
</form>
@*asp-action="ChangePassword" asp-controller="AC"*@