@using Libraly_test2_.Areas.Account.View.AC
@{

}
<ul class="list-group">
    <li class="list-group-item ">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)"asp-page="/Index">SUKA</a>
    </li>
</ul>